.base {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
  }
  .title {
    color: var(--theme-stage-on);
    font-size: 20px;
    font-weight: 400;
  }
  .subTitle {
    color: var(--theme-stage-on-weak);
    font-size: 14px;
    padding-left: 8px;
  }
  .options {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
.sticky {
  background-color: var(--theme-stage-weak);
  border-bottom: solid var(--theme-stroke-width) var(--theme-stage-border-weak);
}
